<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pandaq.pandaeye">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SplashVideoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".modules.zhihu.zhihudetail.ZhihuStoryInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentFullScreenTheme"/>
        <activity
            android:name=".modules.news.newsdetail.NewsDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentFullScreenTheme"/>
        <activity
            android:name=".modules.video.videodetail.VideoInfoActivity"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentFullScreenTheme"/>
        <activity
            android:name=".modules.video.videotypelist.mvp.TypedVideosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentFullScreenTheme"/>
        <activity
            android:name=".modules.setting.aboutme.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentFullScreenTheme"/>
        <activity
            android:name=".modules.setting.ChoosePhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentFullScreenTheme"/>
        <activity
            android:name=".activities.PhotoViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentFullScreenTheme"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.pandaq.pandaeye.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>

    </application>

</manifest>