<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pandaq.pandaeye">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.base.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.base.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ui.zhihu.ZhihuStoryInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentFullScreenTheme"/>
        <activity
            android:name=".ui.news.TopNewsInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentFullScreenTheme"/>
        <activity
            android:name=".ui.video.VideoInfoActivity"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentFullScreenTheme"/>
        <activity
            android:name=".ui.video.TypedVideosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentFullScreenTheme"/>
        <activity
            android:name=".ui.setting.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentFullScreenTheme"/>
        <activity
            android:name=".ui.setting.ChoosePhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentFullScreenTheme"/>

        <!--配置 ShareSDK 分享-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <!-- QQ和QQ空间分享 QQ登录的回调必须要配置的 -->
            <intent-filter>
                <data android:scheme="tencent100371282"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <!-- 新浪微博客户端分享回调必须配置 -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!--微信分享回调 -->
        <activity
            android:name=".sharesdk.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- 支付宝分享回调 -->
        <activity
            android:name=".sharesdk.apshare.ShareEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <meta-data
            android:name="com.pandaq.pandaqlib.glide.CustomGlideMoudle"
            android:value="GlideModule"/>
        <meta-data
            android:name="QBSDKAppKey"
            android:value="iahkz0B5LQ171VoCrdaflZl2"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.pandaq.pandaeye.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>
    </application>

</manifest>