<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pandaq.pandaeye">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.base.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.base.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.zhihu.ZhihuStoryInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.news.TopNewsInfoActivity"
            android:screenOrientation="portrait">
        </activity>

        <meta-data
            android:name="com.pandaq.pandaqlib.glide.CustomGlideMoudle"
            android:value="GlideModule"/>
    </application>

</manifest>